<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile"
              fileName="F:\Logs\TradeshowTravel\webdownloadlogs_${shortdate}.txt"
              layout="${longdate} ${pad:padding=7:fixedLength=true:[${level:uppercase=true}]}: ${message}   ${exception:format=tostring,data:maxInnerExceptionLevel=2:separator=\r\n}"
              xsi:type="File"
              xdt:Transform="SetAttributes"
              xdt:Locator="Match(name)" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logfile" xdt:Transform="SetAttributes" xdt:Locator="Match(writeTo)"/>
    </rules>
  </nlog>
  <appSettings>
    <add key="CyberArkTradeshowObjectQuery" value="Object=Database-HRSMSSqlManual-180-SSMNP1-TSTravelUser-53290" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BaseUrl" value="https://tradeshowtravel.l3harris.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmployeePicsUrl" value="https://tradeshowtravel.l3harris.com/photos/{0}.jpg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TokenValidation_ClientId" value="https://tradeshowtravel.l3harris.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="TSTDB" connectionString="Data Source=;Initial Catalog=TradeshowTravel;user id=;Password=;" xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>
