<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="CyberArkTradeshowObjectName" value="Database-HRSMSSqlManual-180-SSMNT1-TSTravelUser-61447" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TokenValidation_ClientId" value="https://tradeshowtravel-dev.l3harris.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="ECADB" connectionString="DATA SOURCE=ECA_PROD.harris.com;PASSWORD=;USER ID=WEB_USER" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="TSTDB" connectionString="Data Source=USMLB1MIXDB2T;Initial Catalog=TradeshowTravel;user id=TSTravelUser;Password=;" xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>
