<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="CyberArkTradeshowObjectName"
         value="Database-HRSMSSqlManual-180-SSMNP1-TSTravelUser-53290"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <add key="BaseUrl"
        value="https://tradeshowtravel.harris.com/"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <add key="EmployeePicsUrl"
       value="http://tradeshowtravel.harris.com/photos/{0}.jpg"
       xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  <connectionStrings>
    <add name="ECADB"
         connectionString="DATA SOURCE=ECA_PROD.harris.com;PASSWORD=;USER ID=WEB_USER"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="TSTDB"
         connectionString="Data Source=SSMNP1,53290;Initial Catalog=TradeshowTravel;user id=TSTravelUser;Password=;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>
