<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BaseUrl"
         value="https://tradeshowtravel.l3harris.com/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CyberArkTradeshowObjectName"
         value="Database-HRSMSSqlManual-180-SSMNP1-TSTravelUser-53290"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="ECADB"
         connectionString="DATA SOURCE=ECA_PROD.harris.com;PASSWORD=;USER ID=WEB_USER"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="TSTDB"
         connectionString="Data Source=USMLB1MIXDB2P;Initial Catalog=TradeshowTravel;user id=TSTravelUser;Password=;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>