<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile"
              fileName="F:\Logs\TradeshowTravel\schdtsk_${shortdate}.txt"
              layout="${longdate} ${pad:padding=7:fixedLength=true:[${level:uppercase=true}]}: ${message}   ${exception:format=tostring,data:maxInnerExceptionLevel=2:separator=\r\n}"
              xsi:type="File"
              xdt:Transform="SetAttributes"
              xdt:Locator="Match(name)" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logfile" xdt:Transform="SetAttributes" xdt:Locator="Match(writeTo)"/>
    </rules>
  </nlog>
  <appSettings>
    <add key="BaseUrl"
         value="https://tradeshowtravel.l3harris.com/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CyberArkTradeshowObjectQuery"
         value="Object=Database-HRSMSSqlManual-180-SSMNP1-TSTravelUser-53290"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="ECADB"
         connectionString="DATA SOURCE=;PASSWORD=;USER ID="
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="TSTDB"
         connectionString="Data Source=;Initial Catalog=TradeshowTravel;user id=;Password=;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>