<div [class.loading]="loading">
  <div class="modal-header">
    <h5 class="modal-title w-100">Send RSVP Requests</h5>
    <button type="button" class="close" aria-label="Close" (click)="cancelPopup()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="bg-secondary px-3 py-2 text-dark">
    The attendees listed below will receive a 'RSVP' request email. Enter the due date, adjust the email text, and click 'SEND'.
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md">
        <span class="font-weight-bold">RSVP Attendees</span> <span class="text-danger">*</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <span class="badge badge-info badge-pill mr-1 font-weight-normal p-1 px-2" *ngFor="let name of names">
          {{ name }}
        </span>
        <span *ngIf="!names || !names.length" class="text-danger">
          You must select one or more attendees that have not been sent the RSVP request.
        </span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md">
        <span class="font-weight-bold">Due Date</span> <span class="text-danger">*</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <kendo-datepicker #rsvpDueDate
                          [(ngModel)]="request.DueDate"
                          placeholder=" "
                          style="width: 100%">
        </kendo-datepicker>
      </div>
    </div>    
    <file-attachment-component [eventId]="event.ID"></file-attachment-component>
    <div class="row mt-3">
      <div class="col-md">
        <span class="font-weight-bold">Email Text</span> <span class="text-danger">*</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <textarea kendoTextArea class="w-100" rows="20"
                  [(ngModel)]="request.EmailText">
        </textarea>
      </div>
    </div>
    <div class="alert alert-danger m-0 py-1 mt-3 mr-3" role="alert" [hidden]="!errorMsg">
      <i class="fa fa-exclamation-circle fa-lg" aria-hidden="true"></i>&nbsp; {{errorMsg}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm px-3" (click)="cancelPopup()">Cancel</button>
    <button type="button" class="btn btn-primary btn-sm px-4" [disabled]="!isValid" (click)="onSubmit()">Send</button>
  </div>
</div>
