<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="LoggingConfig" type="Common.Logging.LoggingConfig, Common.Logging" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
 <!--For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468--> 
  </configSections>
  <LoggingConfig level="DebugBasic">
    <LogWriters>
      <add name="filewriter" filename="C:\Temp\TradeshowTravel.Web.log" />
    </LogWriters>
  </LoggingConfig>
  <system.web>
     <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
      <remove name="FormsAuthentication" />
    </modules>
    
    <rewrite>
      <rules>
        <rule name="Angular Routes" enabled="true" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern=".*/api/.*" negate="true" />            
          </conditions>
          <action type="Rewrite" url="/TradeshowTravel/" />
        </rule>
      </rules>
    </rewrite>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="ECA_DEV.harris.com" descriptor="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=mlbuvcsd1.cs.myharris.net)(PORT=1521)))(CONNECT_DATA=(SID=ENTDEV)(SERVER=DEDICATED)))" />
        <dataSource alias="ECA_PROD.harris.com" descriptor="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=mlbuvcsp1.cs.myharris.net)(PORT=1521)))(CONNECT_DATA=(SID=ENTPROD)(SERVER=DEDICATED)))" />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <appSettings>
    <add key="CyberArkAppID" value="CHQ-IIS-Web" />
    <add key="CyberArkTradeshowObjectName" value="" />
    <add key="CyberArkECAObjectName" value="Database-HRSOracleManual-mlbuvcsp1.cs.myharris.net-WEB_USER-1521-ENTPROD" />
    <add key="DBEncryptionPassword" value="n+BC6ubI" />
    <add key="AllowedOrigins" value="localhost;l3harris.com;harris.com;harris.com:11008;harris.com:11009" />
    <add key="SmtpServer" value="mail.harris.com" />
    <add key="SenderEmailAddress" value="noreply-eventtravelportal@l3harris.com" />
    <add key="BaseUrl" value="https://tradeshowtravel-dev.harris.com/" />
    <add key="EmailTemplatesPath" value="~/EmailTemplates/{0}.html" />
    <!--TempFolderRoot can be used to override the temp server path to save attachment files.-->
    <!--<add key="TempFolderRoot"  value=""/>-->
    <add key="LdapSearchRoot" value="LDAP://ou=Users,ou=_Enterprise,ou=_Accounts,dc=cs,dc=myHarris,dc=net" />
    <add key="LdapUserName" value="name" />
    <add key="LdapMail" value="mail" />
    <add key="EmployeePicsUrl" value="https://tradeshowtravel-dev.harris.com/photos/{0}.jpg" />
    <add key="TokenValidation_ClientId" value="https://tradeshowtravel-local.l3harris.com:4200/" />
    <add key="TokenValidation_DiscoveryUrl" value="https://sso.l3harris.com/ofisid/api/discovery" />
    <add key="Domain" value="@L3harris.com"/>
    <add key="ECA_ContractorFlag" value="C"/>
    <add key="ECA_ShowPictureFlag" value="Y"/>
    <add key="ECA_ActiveStatuses" value="A,L,P"/>
  </appSettings>
  <connectionStrings>
    <!-- <add name="ECADB" connectionString="DATA SOURCE=ECA_DEV.harris.com;PASSWORD=zIa1rcjoZc1cmOJHDf9T;USER ID=ecamgmt" providerName="Oracle.ManagedDataAccess.Client" /> -->
    <add name="ECADB" connectionString="DATA SOURCE=ECA_PROD.harris.com;PASSWORD=6}CDO.Soipu;USER ID=SVC-LDAPAPI_ECA" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="TSTDB" connectionString="Data Source=SSMNT1,61447;Initial Catalog=TradeshowTravel;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>